{% extends "index.html" %}
{% block content %}
    <div class="col d-inline justify-content-center form bg-primary">
        <form class="p-3 border-1 border-primary" method="post">
            {% csrf_token %}
            <h5 class="">Register</h5>
            {{form.as_p}}
            <button class="btn btn-primary">Register User</button>
            <span class="d-block mt-2">Already have an account? <a href="{% url "login" %}" class="text-danger">Login Here</a></span>
        </form>
    </div>
{% endblock %}